/* src/main.css */

body {
    @apply bg-green-400;
}

.flex-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.game-of-life-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}